<%- include('./partials/head.ejs') %>
<body class="bodyError">
    <main>  
        <div class="errorContainer">
            <h2 class="errorTitulo">ERROR 404</h2>
            <h4 class="errorH4">UPS! Algo anda mal, no podemos encontrar la página!</h4>
            <h4 class="errorH4">pero no te preocupes podés volver a home o iniciar sesión</h4>
        </div>
        <div class="botonesError">
            <a class="botonCall" href="/">Volver a Home</a>
            <a class="botonCall" href="/iniciarsesion">Iniciar Sesion</a>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>