<%- include('./partials/head.ejs') %>
<body class="bodyHome">
    <%- include('./partials/header.ejs') %>
    <main>  
        <div class="callToAction">
            <h2>Finanzas Simples</h2>
            <h4>Tené un detalle completo de tus gastos en 3 simples pasos</h4>
            <a class="botonCall" href="/comofunciona">¿Cómo funciona?</a>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>